*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #741B08;
}

.container{
    width: 1200px;
}

.general{
    width: 100%;
    height: 700px;
    position: relative;
    padding-top: 20px;
}

.general .rng{
  position: absolute;
  cursor: pointer;  
  z-index:1;
  top: 350px;
  color: white;
  font-size: 30px;
}

.general .photo{
    width: 100%;
    height: 700px;
}

.general .photo .phot{
    width: 100%;
    height: 700px;
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
}

.general .last{
    left: 20px;
}

.general .next{
    right: 20px;
}

.active{
    opacity: 1 !important;
}